<!doctype html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="static/login/css/style.css" rel='stylesheet' type='text/css' media="all"/>

    <script src="static/login/js/vue.js"></script>

</head>

<body>
<div id="app">

    <h1>代理服务</h1>
    <div class="log">
        <div class="content1" :style="{display:(cur_form==false?'none':'')}">
            <h2>登录</h2>
            <p style="color: red;">{{ tip }}</p>

            <form action="/login" method="post">
{#                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">#}
                <input type="text" name="username" value="USERNAME" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = '用户名';}" autocomplete="off">
                <input type="password" name="password" value="PASSWORD" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = '密码';}">

{#                <div style="margin-top: 20px; ">#}
{#                    <input type="checkbox" name="remember" id="remember">Remember Me#}
{#                </div>#}

                <div class="button-row">
                    <input type="submit" class="sign-in" value="登录">
                    <input type="reset" class="reset" value="重置">
                    <div class="clear"></div>
                </div>
            </form>

            <a style="float: right; margin-right: 60px; margin-top: -10px;" href="" @click.prevent='change_form'>没有账号？点击快速注册</a>

        </div>

        <div class="content2" :style="{display:(cur_form==true?'none':'')}">
            <h2>注册</h2>

            <form action="/register" method="post">
                <input type="text" name="username" value="USERNAME" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'NAME AND SURNAME';}" autocomplete="off">
{#                <input type="email" name="email" value="EMAIL ADDRESS" onfocus="this.value = '';"#}
{#                       onblur="if (this.value == '') {this.value = 'EMAIL ADDRESS';}">#}
                <input type="password" name="password" value="PASSWORD" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'PASSWORD';}">
                <input type="submit" class="register" value="注册">
            </form>


            <a style="float: right; margin-right: 60px; margin-top: 25px;" href="" @click.prevent='change_form'>已有账号？点击立即登录</a>

        </div>

        <div class="clear"></div>

    </div>

    <div class="footer">

    </div>


</div>


<script>
    var vm = new Vue({
        el: '#app',
        data: {
            cur_form: true
        },
        methods: {
            change_form: function () {
                this.cur_form = !this.cur_form
            }
        },
    })
</script>

</body>

</html>
